//encabezado
.pop{
    --background: rgb(57, 169, 0);
  }
  h1{
    text-align: center;
    font-size: 30px;
    position: absolute;
    margin-top: -400px;
  }
  h3{
    margin-left: 20px;
    font-size: 22px;
    color:#FFFFFF
  }
  .logo{
    height: 70px;
    padding-left: 690px;
  }
  .botonsesion{
    --color:#ffffff;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
  }
  .botonsesion:hover{
    --color: rgb(57, 169, 0);
    background-color: white;
    margin-right: 5px;
  }
#header {
    
    text-align: center;
    align-items: center;
    button {
        width: 150px; // Ajusta el tamaño del círculo según tus necesidades
        height: 40px; // Ajusta el tamaño del círculo según tus necesidades
        border-radius: 10px; // Esto hace que el botón tenga forma de círculo
        color: white;
        background-color: #39A900;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }
    button:hover{
       
        background-color: transparent;
        border: 2px solid  ;
        font-weight: bold;
    }
}

//cuerpo   Azul = rgb(130,222,240)     verde = #39A900
ion-content {
    
  

    #otraFeha{

        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        background-color: white;
        border-radius: 5px; 

        button{
            margin: 10px;
            width: 140px;
            height: 40px;
            font-size: 20px;
            border-radius: 10px; 
            color: white;
            background-color: rgb(57, 169, 0);
        }
        button:hover{
            color: rgb(57, 169, 0);
            background-color: transparent;
            border: 3px solid  rgb(57, 169, 0);
        }

        h4{
            color: black;
        }
    }

    ion-card{
        ion-item{
            button{
                margin: 10px;
                width: 100px;
                height: 40px;
                font-size: 15px;
                border-radius: 10px; 
                color: white;
                background-color: #39A900;
            }
            button:hover{
                color: rgb(57, 169, 0);
                background-color: transparent;
                border: 3px solid  rgb(57, 169, 0);
            }
        }
    }
    div{
        ion-card{
            ion-item{

                button{
                    margin: 10px;
                    width: 100px;
                    height: 40px;
                    font-size: 15px;
                    border-radius: 10px; 
                    color: white;
                    background-color: #39A900;
                }
                button:hover{
                    color: rgb(57, 169, 0);
                    background-color: transparent;
                    border: 3px solid  rgb(57, 169, 0);
                }
            }
        }
    }

    ion-item{

        button{
            margin: 10px;
            width: 180px;
            height: 45px;
            font-size: 18px;
            border-radius: 10px; 
            color: white;
            background-color: #39A900;
        }
        button:hover{
            color: rgb(57, 169, 0);
            background-color: transparent;
            border: 3px solid  rgb(57, 169, 0);
        }
    }
}

#titleX, ion-card-title, #linkCorreo {
    text-align: center;
}
#titleX{
    h2{  text-align: center;
        font-size: 30px;
        margin-top: 50px;
        border-bottom: 2px solid black;
        display: inline-block; }
}
  
#date{
    margin-left: 40px;
    margin-right: 40px;
    ion-item{
        ion-label{ margin-left: 20px; }
        ion-select{ margin-right: 10px; }
    }
}

#linkeding{
    a{ color: #39A900;}
}
#cambiarFecha{ margin-left: 30px;}

#historial{
    #historial2{
        display: flex;
        ion-card{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
}
.fechas{
    border: 2px solid rgb(156, 121, 121);

}

h4{
  font-size: 20px;
  position: absolute;
  margin-top: -35px;
  margin-left: 60px;
}
.uno{
  border: 3px solid  rgb(57, 169, 0);
  margin-top: 90px;
  margin-left: 150px;
  border-radius: 20px;
  width: 290px;
  height: 60px;
  justify-content: center;

}
ion-icon{
 
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
}